<div class="container px-5 px-sm-0">
 <div class="row">
   <div class="col-4">
    <%= render 'post_images/list', post_image: @post_image, user: @user %>
   </div>

   <div class="col-8">
<h3 class="font-weight-bold">Reviews</h3>
<div class="row">
<% @items.each do |post_image| %>
  <% if post_image.user.blank? %>
    <% next %>
  <% end %>

<div class= "form-group mb-5 mr-5 ml-5">
<%#= post_image.inspect %>

  <%# if post_image.image.present? %>
   <%= link_to post_image_path(post_image.id) do %>
  <div><%= image_tag post_image.image.present? ? post_image.image : "", class: "list_image" %></div>
  <% end %>

  <p>Title：<%= post_image.title %></p>
  <p>Memo：<%= post_image.memo %></p>
  <p>Category：<%= post_image.category.name %></p>
 <div id="star"></div>
    <div id="star-rate<%= post_image.id%>"></div>
    <script>
      $('#star-rate<%= post_image.id%>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        half      : false,
        readOnly: true,
        <%# if post_image.review.blank? %>
        //score: 0
        <%# else %>
        //score: <%#= post_image.review %>
        <%# end %>
        score: <%= post_image.review.blank? ? 0 : post_image.review %>
      });
    </script>


  <p>Name：<%= link_to post_image.user.name, user_path(@user.id) %></p>
  <p>Date: <%= post_image.created_at.strftime('%Y/%m/%d') %></p>

</div>
<% end %>


  </div>
  </div>
</div>