 <div class="row" id="main_background">
<div class="container">
  <div class="row">
   <div class="col-4 border rounded border-info h-50 mt-5" id="color">
    <%= render 'post_images/list', post_image: @post_image, user: @user %>
   </div>

   <div class="col-8">
<h3 class="font-weight-bold"><i class="fas fa-solid fa-star text-secondary ml-4 mt-5"></i> Reviews</h3>
<div class="row">
<% @post_images.each do |post_image| %>
  <% if post_image.user.blank? %>
    <% next %>
  <% end %>

<div class= "form-group mb-5 mr-5 ml-5">
<%#= post_image.inspect %>

  <%# if post_image.image.present? %>

     <p><%= link_to user_path(post_image.user) do %>
          <%= image_tag post_image.user.get_profile_image("40x40") %>
        <% end %>
           <%= link_to post_image.user.name, user_path(post_image.user.id) %></p>

     <%= link_to post_image_path(post_image.id) do %>
    <div><%= image_tag post_image.image.present? ? post_image.image : "", class: "list_image mb-1" %></div>
    　<% end %>

  <p>Title：<%= post_image.title %></p>
  <p>Memo：<%= post_image.memo %></p>
  <p>Category：<%= post_image.category.name %></p>
 <div id="star"></div>
    <div id="star-rate<%= post_image.id%>"></div>
    <script>
      $('#star-rate<%= post_image.id%>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        half      : false,
        readOnly: true,
        <%# if post_image.review.blank? %>
        //score: 0
        <%# else %>
        //score: <%#= post_image.review %>
        <%# end %>
        score: <%= post_image.review.blank? ? 0 : post_image.review %>
      });
    </script>


   <p><%= post_image.created_at.strftime('%Y/%m/%d') %></p>

</div>
<% end %>
</div>

  </div>
  </div>
</div>
